.question{
    background: #75ba48;
    padding: 20px;
    color: #fff;
    /*border-bottom-right-radius: 55px;*/
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
}

#qid{
    margin-right: 22px;
    background-color: #ffffff;
    color: #aaaaaa;
}

#quiz{
    border-bottom-right-radius: 60px;
    border-bottom-left-radius:60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding-left: 0%;
    padding-right: 0%;
    margin-bottom:10%;
}
#main{
    background-color: rgb(201, 201, 17);
    padding:0%;
}
.row{
display:flex; 
flex-direction:row;
}